# data media
!data/.keep
data/media/movies/*
!data/media/movies/.keep
data/media/series/*
!data/media/series/.keep
data/media/anime/* 
!data/media/anime/.keep

# data raw
data/raw/movies/*
!data/raw/movies/.keep
data/raw/series/*
!data/raw/series/.keep
data/raw/anime/* 
!data/raw/anime/.keep

# data torrents
data/torrents/*
!data/torrents/.keep

# flaresolverr
flaresolverr/*
!flaresolverr/.keep

# gluetun
gluetun/*
!gluetun/.keep

# overseerr
overseerr/*
!overseerr/.keep

# plex
plex/*
!plex/.keep

# prowlarr
prowlarr/*
!prowlarr/.keep

# qbittorrent
qbittorrent/*
!qbittorrent/.keep

# radarr
radarr/*
!radarr/.keep

# sonarr
sonarr/*
!sonarr/.keep

# tautulli
tautulli/*
!tautulli/.keep

# tdarr
tdarr/*
!tdarr/.keep

# watchtower
watchtower/*
!watchtower/.keep